{% extends "base_map.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/webflow_base.css">

    <style>
        html, body {
            background-color: #f1f1f2;
            font-size: 18px;
            line-height: 1;
        }

        body, p, h1, h2, h3, h4, h5, h6 {
            font-family: "Open Sans", sans-serif;
            color: #808284;
        }

        .container {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 300;
            color: #808284;
            padding-top: 50px;
            background: #f1f1f2;
            padding-bottom: 50px;
        }

        #community-top-spacer {
            height: 25px;
        }

        #referrals .leaderboard_points {
            margin-top: 5px;
        }

        .well { height: 380px; overflow: hidden; }

        .community-tip-spot {
            position: absolute;
            z-index: 50;
            bottom: 30px;
            right: 20px;
            height: 26px;
            width: 26px;
            margin-top: 0px;
            padding-top: 3px;
            border-radius: 13px;
            text-align: center;
            background-color: #E6E7E8;
            color: #A7A9AB;
        }

        @media (max-width: 768px) {
          .community-tip-spot { bottom: 10px; }
        }

        .community-tip-spot-content {
            display: none;
        }

        .warning-button {
            display: block;
            margin-top: 10px;
            margin-right: auto;
            margin-left: auto;
            border: 1px solid #47bccc;
            border-radius: 5px;
            background-color: #47c1d2;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
        }

        table {
            width: 100%;
        }

        tr {
            background: #fff;
        }

        tr:nth-child(even) {
            background: #ddd;
        }

        th, td {
            padding: 10px;
            vertical-align: top;
        }

        .tier:after {
            content: '\1F396';
            text-shadow: 1px 1px 0 #808284, 1px -1px 0 #808284, -1px 1px 0 #808284, -1px -1px 0 #808284, -1px 0 0 #808284, 1px 0 0 #808284, 0 -1px 0 #808284, 0 1px 0 #808284;
        }

        {% for result in rows %}
            #user-{{ result['user_id'] }} .tier:after {
                color: {{ tier_to_color[result['tier']] }};
            }
        {% endfor %}
    </style>

{% endblock %}

{% block body %}

    <div id="container" class="container">
        <div id="community-top-spacer">&nbsp;</div>

        <div class="row">
            <div class="col-md-8">
                <div class="twothirds_div">
                    <h1>Community</h1>
                    <table>
                        <tr><th>Name</th><th>Tier</th><th>Points</th><th>Phone</th></tr>
                        {% for result in rows %}
                        <tr id="user-{{ result['user_id'] }}">
                            <td><a data-toggle="modal" data-target="#modal" onclick="$('.location').hide();$('#modal-user-{{ result['user_id'] }}').show();">{{ result['display_name'] }}</a></td>
                            <td class="tier">{{ result['tier'] }}</td>
                            <td>{{ result['point_balance'] }}</td>
                            <td>
                                {% for phone in result['phones'] %}
                                    {{ phone }}<br>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Location</h4>
                </div>
                <div class="modal-body">
                    {% for result in rows %}
                        <div id="modal-user-{{ result['user_id'] }}" class="location">
                            {% for location in result['locations'] %}
                                {{ location }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
